* {
    font-family: "JetBrains Mono", monospace;
}

:root {
    --white: #DFCEB0;
    --red: #c22f04;
}

body {
    background-color: var(--white);
}

a {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
}

#name h1 {
    font-size: 42px;
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
}

#name p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
}


body {
    margin: 0px;
}

#canvas {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: absolute;
    z-index: -1;
}

.content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

h1, h3, label, p {
  color: black;
}

input {
    margin-left: 0px !important;
}

.ball {
  width: var(--ball-diameter);
  height: var(--ball-diameter);
  border-radius: 50%;
  background-color: #cb475b;
  position: absolute;

  /* Simplified Box Shadow */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

  /* Linear Gradient for Light Effect */
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
}

h3 {
    margin-bottom: 4px;
    margin-top: 0px;
    
}

#control {
    padding:18px;
    background-color: rgba(209, 189, 146, 0.89);
    /* border: 2px solid black; */
    width: 170px;
}

.control-item {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.control-number {
    font-weight: normal;
}

.settings {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.toggle {
    /* padding:4px; */
    background-color: var(--red);
    /* border-radius: 4px; */
    text-transform: uppercase;
    font-size: 12px;
    overflow:auto;
    float:left;
}

.toggle:hover {
    /* background: red; */
}

.toggle label {
    float:left;
    /* width:4.0em; */
}

.toggle label span {
    text-align: center;
    padding: 6px 8px;
    display: block;
    /* border-radius:4px; */
    box-shadow: inset 2px 2px 0px 0px #e66a44, inset -1px -1px 0 0 #8f2302;
    color: white;
}

.toggle input:checked + span {
    background-color:#8f2302;
    color: var(--white);
    /* color:#fff; */
    box-shadow: inset 2px 2px 0 0 #551501, inset -1px -1px 0 0 #c22f04;
}

.toggle input {
    display: none;
}

label {
    display: block;
}
